html,
body {
  height: 100%;
  margin: 0;
}

/* Page background (optional) */
body {
  background-color: #a3d5ff;
  background-image: url("flappybirdbg.png");
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Visualize the canvas edges while testing */
canvas {
  display: block;
  margin: 0 auto;
  border: 1px dashed #888;
}
